* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* PC用 */
@media screen and (min-width: 750px) {
  nav {
    display: block;
    height: 100%;
    max-width: none;
    width: 15.0rem;
    padding: 0.5rem;
    float: left;
  }
  main {
    margin-left: 16.0rem;
    display: block;
    padding: 0.5rem;
  }
}

/* スマホ・タブレット用 */
@media screen and (max-width: 750px) {
  nav {
    padding: 0.5rem;
    top: 0;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: relative;
    width: 100%;
    float: top;
    padding: 0.5rem;
  }
  main {
    display: block;
    padding: 0.5rem;
  }
}
